*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    /* background-color: black; */
 
}


#div-of-footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21rem;
    background-image: url('../../footer123.jpg');
    background-position: center;
    background-size: cover;
}

#div-of-footer > div{
    margin: 0px 65px;
}

.left > div{
    display: flex;
    align-items: center;
}

.left img{
    width: 21px;
    height: 21px;
}

#upper-div-of-left{
    padding: 4px 23px 4px 8px;
    border-bottom: 1px solid white;
}

#lower-div-of-left{
    padding: 4px 4px 4px 8px;
    border-bottom: 1px solid white;
}

.left div, .mid div{
    font-size: 20px;
}

.right a i{
    color: white;
    margin: 15px;
}

#facebook-logo{
    margin: 15px 15px 15px 0px;
}

#footer{
    text-align: center;
    font-size: 22px;
    padding: 8px;
    background-color: #797f8f;
    color: white;
    font-weight: bold;
}
